extends layout

block head
  style.
    body {
      padding-top: 0;
    }

block script
  script.
    //const [cms] = riot.mount("cms");
    const tags = riot.mount("*");


block content
  ui-menu(fixed="left" vertical inverted)
    h3.header.item CMS Redigerare
    .item
      .ui.vertical.buttons
        a(data-is="ui-button" href="#" negative labeled icon="remove") Avsluta
        a(data-is="ui-button" href="#" positive labeled icon="save") Spara
    h5.item.header Komponenter
    .menu
      a.item(href="#") Bild
      a.item(href="#") Lista
      a.item(href="#") Kort

  cms(page=id)