extends layout

block head
  style.
    body {
      padding-top: 0;
    }
    #app {
      margin: 1rem;
      margin-left: 16rem;
    }
    .ui.menu {
      border-radius: 0;
    }

block content
  ui-menu(fixed left vertical inverted)
    ui-item(header) CMS Redigerare
    ui-item
      .ui.vertical.buttons
        ui-button(color="red" labeled icon="remove") Avsluta
        ui-button(color="green" labeled icon="save") Spara
    ui-item(header) Komponenter
    ui-menu
      a.item(href="#") Bild
      a.item(href="#") Lista
      a.item(href="#") Kort

  cms(title="Riot Test!")

  #sidebar.ui.left.fixed.vertical.inverted.menu
    .header.item CMS Redigerare
    .item
      .ui.vertical.buttons
        a.ui.red.labeled.icon.button(href="/")
          i.remove.icon
          | Avsluta
        a.ui.green.labeled.icon.button
          i.save.icon
          | Spara  

    .header.item Komponenter
    .menu
      a.item(href="#") Bild
      a.item(href="#") Lista
      a.item(href="#") Kort

  #app!= data

  cms(title="Riot Test!")

block script
  script.
    const [cms] = riot.mount("cms");
    cms.trigger("");

    // Mount all riot tags
    //riot.mount("*");



  //sidebar of components
  //page selector (top of page)
  //main content from pages dir with live editor in form of modal to change info on the component

  //TODO: create a component for handling all of the interactions perahaps?
  // Maybe make a controller? (for sidebar and stuff)