doctype html
html
  head
    title CMS
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="icon" href="/favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:400,500|Material+Icons", rel="stylesheet")

    link(rel="stylesheet" href="/app.css")
  body
    #app
    script(src="/app.js")
