include layout

block content
  .ui.vertical.inverted.menu
    .item Button
    .item Image
    .item Grid
    .item List
  main
    #content
  //sidebar of components
  //page selector (top of page)
  //main content from pages dir with liv3e editor in form of modal to change info on the component

  //TODO: create a component for handling all of the interactions perahaps?
  // Maybe make a controller? (for sidebar and stuff)