doctype html
html
  head
    title=`CMS | ${title}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="icon", href="/favicon.ico")

    link(rel="stylesheet" href="/stylesheets/semantic.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

    block head
    // Kekkedikek
  body
    block content


    script(src="/bundle.js")
    block script
