doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/semantic.min.css")
    block head
  body
    main
      block content

    footer  

    if main
      // Load AMD library
      script(data-main=main src="/javascripts/amd.min.js")
