// Fix for
.mdc-text-field > textarea {
  width: auto;
  height: auto;
}

// Dashboard.vue
.app-view.dashboard {
  padding-top: 30px;

  .pages {
    min-height: 100px;

    .item .remove.icon:hover {
      cursor: pointer;
      color: red;
    }
  }
}

// Editor.vue
.app-view.editor {
  padding: 0 15rem;
}


#create-page .mdc-dialog__body {
  display: flex;
  flex-direction: column;
}
