$mdc-theme-primary: #2196f3; // Blue 500
$mdc-theme-secondary: #009688; // Teal 500
$mdc-theme-background: #fff; // White

@import "./components/styles.scss";
@import "vue-mdc-web/vue-mdc-web";
//@import "@material/elevation/mixins";

//@import "@material/typography/variables";
//@import "@material/typography/mixins";

html, body {
  height: 100%;
}

// Login.vue
.app-view.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 24em;
  background-color: #e0e0e0;


  h1 {
    @include mdc-theme-prop(color, text-secondary-on-background);
  }

  .login__content {
    margin-top: 1em;
    flex: 0;
    min-width: 350px;
    padding: 2em 2em 3em;
    background-color: #fff;
    text-align: center;
    @include mdc-elevation(10);

    @media screen and (max-width: 420px) {
      margin-top: 0;
      min-width: 70%;
    }
  }

  .login__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .mdc-text-field {
    display: flex;
  }

  .mdc-button {
    margin-top: 2em;
    height: 46px;
  }
}

// Layout.vue
#app {
  height: 100%;
}

.app-view {
  height: 100%;
}
